.QueryTutorial-body,
.QueryTutorial-header,
.QueryTutorial-operator {
  padding: 0.5em;
}

.QueryTutorial-header {
  cursor: pointer;
}
.QueryTutorial-header:hover {
  color: #0000ff;
}

.QueryTutorial-operator-text {
  background-color: #eeeeee;
  margin-right: 0.5em;
  padding: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
