* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html,
#root,
.App {
  height: 100%;
  width: 100%;
  font-family: monospace;
}

.App,
.App-body {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-grow: 1;
  flex-shrink: 1;
}

.App {
  flex-direction: column;
  height: 100%;
}

.App-header {
  min-height: 3em;
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-shrink: 0;
}

.App-body {
  overflow: hidden;
}

.App-toggle {
  background: none;
  border: none;
  outline: none;
  color: black;
  background-color: white;
  padding: 1em;
}

.App-toggle:hover {
  background-color: #0000ff;
  color: white;
}
